#wrapper {
  padding-top: 100px;
  padding-right: 20px;
  padding-left: 20px;
  margin-right: auto;
  margin-left: auto;
}
.content {
  text-align: left;
}
table, tr, th, td {
  border: 1px solid #9999CC;
}

ul {
  list-style: none;
  padding: 5px;
}
pre {
  background-color: #EEEEEE;
}
nav {
    font-family: 'Poor Story', sans-serif;
}
.posts {
    font-family: 'Poor Story', sans-serif;
}
.title {
    font-family: 'Poor Story', sans-serif;
}
body {
  font-family: 'Nanum Gothic', sans-serif;
}
